%nav.menu
  %ul
    %a{href: "#"}
      %li
        Home
    %a{href: "#"}
      %li
        Events
    %a{href: "#"}
      %li
        Student life
    %a{href: "#"}
      %li
        Information
    %a{href: "#"}
      %li
        Photo-book
    %a{href: "#"}
      %li
        About us
    %a{href: "#"}
      %li
        Links
    