= render "header"
%section.wrapper
  = render "menu_top"
  %section.title
    %header.title-header
    %nav.content-nav
      %ul
        %li.active
          %a{href: "#"} Home
        %li
          %a{href: "#"} Events
        %li
          %a{href: "#"} Student life
        %li
          %a{href: "#"} Information
        %li
          %a{href: "#"} Photo-book
        %li
          %a{href: "#"} About us
        %li
          %a{href: "#"} Links
    %section.content